/* En este archivo escriban su CSS */

/* Fonts */
/* Importar aquí la font */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}

/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
    max-width: 1200px;
    margin: auto;
}

/* Recomendaciones! 
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden encontrarla buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo!
*/


body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    background-color: #fbfbfb;
    text-align: center;
    line-height: 1.2;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    box-shadow: 0 3px 10px -5px #5f5f5f;

}

.menu-items {
    display: inline-block;
    justify-content: space-between;
    width: 100px;
    align-items: center;
    padding: 16px;
}

#inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    min-height: 100vh;
   
   }

img {
    max-width: 100%;
}

.logojp {
    width: 80px;
    height: auto;
}


.mifoto {
    height: auto;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 200px;
    max-width: 100%;
   
}


h1 {
    font-size: 36px;
    margin-top: 10px;
    }

h2 {
    font-size: 28px;
    margin-top: 10px;

}

.parrafos {
    padding: 20px;
    margin: 20px;
}

a.boton {
    border-radius: 25px;
    margin: 10px 20px;
    background-color: #af599e;
    color: #fbfbfb;
    padding: 10px 15px;
    width: 50px;
    font-size: 20px;
}

#Contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    min-height: 100vh;
    margin-top: 100px;
}

.Contacto {
    background-color: rgba(175, 89, 158, 0.3);
    color: #0f0f0f;
    padding-bottom: 20px;
}

.iconos {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    height: 90px;
    width: 100%;
    top: 50px;
    left: 0px;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #af599e;
    color: #fbfbfb;
    height: 90px;
    width: 100%;
}